/* Admin.css */
.navbar-container {
    width: 97%;
    margin: auto;
    padding-top: 0px;
}

.navbar {
    background-color: #f8f9fa;
    border-radius: 5px;
}

.navbar-nav .nav-link {
    color: #343a40;
    font-weight: bold;
}

.navbar-brand {
    color: #343a40;
    font-weight: bold;
}

@media (max-width: 90%) {
    .navbar-container {
        width: 100%;
        padding-top: 10px;
    }
}

.content{
    width: 80%;
    height: 660px;
    
    padding: 3%;
    margin: auto;
    margin-top: 1%;
}