/* Admin.css */
.navbar-container {
  margin-top: -60px;
  width: 98%;
}

.navbar-nav .nav-link {
  color: #343a40;
  font-weight: bold;
}

.navbar-brand {
  color: #343a40;
  font-weight: bold;
}

@media (max-width: 95%) {
    .navbar-container {
        width: 100%;
        padding-top: 5px;
    }
}

.content{
    width: 105%;
    height: 655px;
    padding: 2%;
    margin: auto;
}

